/* в CSS комментарии обозначаются символами  */
body {
	background-color: black;
	color: white;
	font: 16px/26px "Courier", "monospace", "sans-serif";
}


header,
footer {
  background-color: black;
  border: 2px solid white;
}

header {
	font-weight: bold;
	/*font-variant: small-caps;*/
}

.2 {
	width: 100%;


}
