
body {
	background-color: black;
	color: white;
	font: 16px/26px "Courier", "monospace", "sans-serif";
}

header,
footer {
  background-color: black;
  border: 1.5px solid white;
  font-weight: bold;
}



.nav-link {color: white;}
.nav-item  a:hover {color: DarkMagenta;}